html {
  background:  #eee9de;
  box-sizing: content-box;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.btn h1 {
 padding: .4em .75em .5em;
 text-align: left;
}

img {
  display: block;
  width: 100%;
}

section p {
  max-width: 25em;
  padding: 2em;
  text-align: center;
  vertical-align: middle;
}

.btn a {
  color: #666;
  background-color: #eee9de;
  border-radius: 4px;
  border-color: #333;
  display: inline-block;
  padding: 1em;
  text-align: left;
  text-decoration: none;
}

a:hover {
  color: #eee9de;
  background-color: #333;
}
