html {
  background: #eee9de;
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #eee9de;
  margin: 1.5rem;
}

h1 {
  margin-left: auto;
  padding: .4em .75em .5em;
  text-align: left;
}

img {
  display: block;
  width: 100%;
  max-width: 25em;
  text-align: center;
  padding: .75em;
  float: left;
}

section p {
  padding: 1em;
  text-align: left;
  vertical-align: middle;
}

a {
  color: #666;
  background-color: #eee9de;
  border-radius: .5em;
  border: solid;
  border-color: #333;
  display: inline-block;
  padding: .5em;
  text-align: left;
  text-decoration: none;
}

a:hover {
  color: #eee9de;
  background-color: #333;
}
